.md-search__form {
    border-radius: 20px;
}

header {
    padding: 0.2rem 0;
}

/* label.md-nav__title {
    display: none;
} */

.md-typeset h1 {
    color: var(--md-typeset-color);
    font-size: 1.8em;
}

[dir="ltr"] .md-header__title {
    margin-left: 0.5rem;
}

img[src*="api.iconify.design"] {
    vertical-align: -0.2rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}
